@import "params.styl"
@import "grid-mixins.styl"

make_gutter_cols(bp)
  gutter = cols_gutters[bp]

  $col-{bp}-{gutter}
    padding-left gutter
    padding-right gutter

  breakpoints = keys(cols_gutters)
  num_gutter = index_of(breakpoints, bp)

  for local_bp, j in breakpoints
    if j <= num_gutter
      .col{local_bp}, .col{local_bp}-auto
        @extend $col-{bp}-{gutter}

      for span in (1 .. columns_count)
        .col{local_bp}-{span}
          @extend $col-{bp}-{gutter}

columns(bp = '')
  make_gutter_cols(bp)

  .col{bp}
    flex-basis 0%
    flex-grow 1
    max-width 100%
    min-width 0.01px

  .col{bp}-auto
    flex 0 0 auto
    width auto
    max-width 100%

  for span in (1 .. columns_count)
    .col{bp}-{span}
      percent = (span / columns_count) * 100%
      flex 0 0 percent
      max-width percent
      width 100%
