@require "vars/*"
@require "mixins/*"
@import "reset.styl"

make_classes($classes)

for bp in $breakpoints
  +media_down_bp(bp)
    make_padding($grid_size, 10, 1, bp)
    make_margins($grid_size, 10, 1, bp)
    make_container($container_sizes, $container_gutters, bp)
    make_row($row_gutters, bp)
    make_columns($columns_count, $columns_gutters, bp)
    //make_offsets($columns_count, bp)
    make_orders($columns_count, bp)
    make_adaptive_classes($adaptive_classes, bp)
    make_mega_adaptive_classes($mega_adaptive_classes, bp)
