columns_count = 12
grid_size = 5px

breakpoints = {
  '-sm': 576px,
  '-md': 768px,
  '-lg': 992px,
  '-xl': 1200px,
}

container_sizes = {
  '-sm': 540px,
  '-md': 720px,
  '-lg': 960px,
  '-xl': 1140px,
}

container_gutters = {
  '': 15px,
  '-sm': 15px,
  '-md': 15px,
  '-lg': 15px,
  '-xl': 15px,
}

row_gutters = {
  '': 15px,
  '-sm': 15px,
  '-md': 15px,
  '-lg': 15px,
  '-xl': 15px,
}

cols_gutters = {
  '': 15px,
  '-md': 20px
}
