columns_count = 12
grid_size = 5px

breakpoints = {
  '': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
}

container_sizes = {
  '': none,
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px,
}

container_gutters = {
  '': pad(3),
  'md': pad(4),
}

row_gutters = {
  '': pad(3),
  'md': pad(4),
}

columns_gutters = {
  '': pad(3),
  'md': pad(4),
}
