text_sizes = {
  '1': {
    '': {
      font-size: 40px
    },
    'md': {
      font-size: 45px
    },
    'xl': {
      font-size: 50px
    }
  },
  '2': {
    '': {
      font-size: 30px
    },
    'md': {
      font-size: 35px
    },
    'xl': {
      font-size: 40px
    }
  },
  '3': {
    '': {
      font-size: 16px,
      line-height: 20px
    },
    'md': {
      font-size: 18px,
      line-height: 20px
    },
    'lg': {
      font-size: 20px
    }
  },
  '4': {
    '': {
      font-size: 14px,
      line-height: 15px
    }
  },
  '5': {
    '': {
      font-size: 11px,
      line-height: 15px
    }
  },
}
